---
- name: Create APT keyrings directory
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags:
    - terraform
    - hashicorp
    - gpg

- name: Add Hashicorp GPG key
  ansible.builtin.get_url:
    url: "{{ hashicorp_apt_key }}"
    dest: /tmp/hashicorp-archive-keyring.asc
    owner: root
    group: root
    mode: '0644'
  tags:
    - terraform
    - hashicorp
    - gpg

- name: Convert and install Hashicorp GPG key
  ansible.builtin.shell: |
    gpg --dearmor < /tmp/hashicorp-archive-keyring.asc > /etc/apt/keyrings/hashicorp-archive-keyring.gpg
  args:
    creates: /etc/apt/keyrings/hashicorp-archive-keyring.gpg
  tags:
    - terraform
    - hashicorp
    - gpg

- name: Add Hashicorp APT repository (modern method)
  ansible.builtin.apt_repository:
    repo: >
      deb [arch=amd64 signed-by=/etc/apt/keyrings/hashicorp-archive-keyring.gpg]
      {{ hashicorp_apt_repo_url }} {{ distro_codename }} main
    filename: hashicorp
    state: present
    update_cache: yes
  tags:
    - terraform
    - hashicorp
    - packages
    - repository

- name: Install Hashicorp tools
  ansible.builtin.apt:
    name: "{{ hashicorp_packages }}"
    state: present
    update_cache: yes
  tags:
    - terraform
    - hashicorp
    - packages

- name: Check Terraform installation
  ansible.builtin.command: terraform version
  register: terraform_version
  changed_when: false
  tags:
    - terraform
    - test

- name: Display Terraform version
  ansible.builtin.debug:
    msg: "{{ terraform_version.stdout_lines }}"
  tags:
    - terraform
    - test

- name: Enable Terraform autocomplete (bash)
  ansible.builtin.command: terraform -install-autocomplete
  args:
    creates: /etc/bash_completion.d/terraform
  failed_when: false
  tags:
    - terraform
    - autocomplete
